.head-list {
  margin-bottom: 30px;

  @media (min-width: 768px) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.search {
  @media (max-width: 767.98px) {
    margin-bottom: 20px;
  }
}

.table-list {
  thead tr {
    border-bottom: 1px solid;
  }
}

.actions {
  &__btn {
    background: transparent;
    border: 0;
  }
}