<div class="row mb-4">
  <h2><b>Clientes</b></h2>
</div>

<div class="row">
  <div class="head-list col-12">
    <div class="search d-flex align-items-center col-md-4">
      <input-search (inputValue)="test($event)"></input-search>

      <div class="form-check form-switch d-flex align-items-center ms-4">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label ms-2" for="flexSwitchCheckDefault"
          >Ativo</label
        >
      </div>
    </div>

    <button class="btn btn-secondary" [routerLink]="['/criar']">
      Novo cliente
    </button>
  </div>
</div>

<div class="row">
  <div class="table-list col-12 table-responsive">
    <table
      class="table"
      [ngClass]="{ 'table-striped table-hover': listOfClients.length > 0 }"
    >
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Tipo</th>
          <th scope="col">CPF/CNPJ</th>
          <th scope="col">RG</th>
          <th scope="col">Data de cadastro</th>
          <th scope="col">Ativo</th>
          <th scope="col">Telefone</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngIf="!isLoading && listOfClients.length > 0">
          <ng-container
            *ngFor="
              let client of listOfClients
                | paginate
                  : {
                      id: 'listOfClients',
                      itemsPerPage: paginationItemsPerPage,
                      currentPage: paginationCurrentPage,
                      totalItems: totalOfClients
                    }
            "
          >
            <tr>
              <td>{{ client?.name }}</td>
              <td>{{ client?.type }}</td>
              <td>{{ client?.document }}</td>
              <td>{{ client?.identity }}</td>
              <td>{{ client?.createAt }}</td>
              <td>{{ client?.active ? "Sim" : "Não" }}</td>
              <td>{{ client?.phone }}</td>
              <td class="actions">
                <button
                  title="Editar"
                  class="actions__btn"
                  [routerLink]="['/editar/', client?.id]"
                >
                  <i class="far fa-edit"></i>
                </button>

                <button
                  title="Excluir"
                  class="actions__btn"
                  (click)="deleteClient()"
                >
                  <i class="fas fa-times"></i>
                </button>
              </td>
            </tr>
          </ng-container>

          <pagination-controls
            id="listOfClients"
            (pageChange)="pageChanged($event)"
            previousLabel=""
            nextLabel=""
            [autoHide]="true"
          >
          </pagination-controls>
        </ng-container>

        <ng-container *ngIf="!isLoading && listOfClients.length === 0">
          <tr>
            <td colspan="8">
              <no-results></no-results>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
