.search-content {
  align-items: center;
  border: 1px solid #ced4da;
  display: flex;

  &__icon {
    margin: 0 10px;
    max-width: 22px;
    width: 100%;
  }

  &__icon-clean {
    cursor: pointer;
    font-size: 30px;
    margin: 0 10px;
  }

  &__input {
    border: 0;
    outline: none;
    padding-right: 0px;

    &:focus {
      box-shadow: none;
    }
  }
}