.search-content {
  align-items: center;
  border: 1px solid #ced4da;
  display: flex;

  &__icon {
    cursor: pointer;
    font-size: 18px;
    margin: 0 10px;
    min-width: 18px;
    text-align: center;

    &.no-click {
      cursor: initial;
    }
  }

  &__input {
    border: 0;
    outline: none;
    padding-right: 0px;

    &:focus {
      box-shadow: none;
    }
  }
}