<div class="search-content">
  <input
    type="text"
    class="form-control search-content__input"
    placeholder="Digite o nome do cliente"
    [(ngModel)]="inputSearchValue"
    #fieldSearch
  />

  <ng-container *ngIf="inputSearchValue.length === 0">
    <i class="fas fa-search search-content__icon-clean"></i>
  </ng-container>

  <ng-container *ngIf="inputSearchValue.length > 0">
    <i
      class="fas fa-times search-content__icon-clean"
      (click)="cleanInputSearch()"
    ></i>
  </ng-container>
</div>
